language: go

go:
  - 1.12.5

# before_install
# install - install any dependencies required
install:
  go get https://github.com/gohugoio/hugo

# script - run the build script
script:
    - rm -rf public
    - git submodule add -b master https://$TOKEN@github.com/fernandoguedes/fernandoguedes.github.io.git public
    - bash publish.sh

branches:
  only:
    - master
